@font-face {
  font-family: Baunk;
  src: url("fonts/Baunk.otf");
}

body {
  background-color: #ffeecf;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

h1 {
    font-family: Baunk;
    font-size: 1.5vw;
    line-height: normal;
    letter-spacing: .2rem;
}

p {
  font-family: Baunk;
  font-size: 2vw;
  line-height: normal;
  letter-spacing: .2rem;
}

button {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-height: 100%;
  border-style: solid;
  border-color: #171717;
  border-radius: 2rem;
  border-width: 2px;
  padding: 2rem;
  display: flex;
  box-shadow: 4px 4px #171717;
  transition-duration: 240ms;
  transition-timing-function: ease-in;
}

button:hover {
  transform: translate(4px, 4px);
  box-shadow: 0px 0px #171717;
}

#rock {
  background-color: #ed3ee6;
}
#paper {
  background-color: #ed783e;
}
#scissors {
  background-color: #3eedd8;
}

.message-board {
  height: 10vh;
  width: 100vw;
  background-color: #aaed3e;
  color: #171717;
  padding: 1rem;
  border-style: solid;
  border-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  gap: 40px;
}

@media only screen and (max-width: 600px) {
  .inner-wrapper {
    flex-direction: column;
    font-size: 2vw;
  }
}
