@font-face {
  font-family: Baunk;
  src: url("fonts/Baunk.otf");
}

body {
  font-family: Baunk;
  background-color: #ffeecf;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

h1, p {
  font-size: 1.5vw;
  line-height: normal;
  letter-spacing: 0.2rem;
  font-family: Baunk;
}

button {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-height: 100%;
  position: relative;
  border-style: solid;
  border-color: #171717;
  border-radius: 2rem;
  border-width: 2px;
  padding: 2vw;
  display: flex;
  box-shadow: 4px 4px #171717;
  transition-duration: 240ms;
  transition-timing-function: ease-in;
}

button:hover {
  transform: translate(4px, 4px);
  box-shadow: 0px 0px #171717;
}

#rock {
  background-color: #ed3ee6;
}
#paper {
  background-color: #ed783e;
}
#scissors {
  background-color: #3eedd8;
}

.scissors-img {
  position: absolute;
  bottom: 0;
}

.message-board {
  height: 10vh;
  width: 100vw;
  background-color: #CFCCC6;
  color: #171717;
  padding: 2vw;
  word-wrap: normal;
  border-style: solid;
  border-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-wrapper {
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  gap: 40px;
}

@media only screen and (max-width: 900px) {
  .inner-wrapper {
    flex-direction: column;
    height: 60vh;
  }
  .scissors-img {
    display: none;
  }
  h1 {
    font-size: 2vw;
  }
  p {
    font-size: 2vw;
  }
}
