@font-face {
  font-family: Baunk;
  src: url("fonts/Baunk.otf");
}

body {
  background-color: #ffeecf;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

p {
  font-family: Baunk;
  font-size: 2vw;
  line-height: normal;
}

button {
  background-color: blue;
  height: 400px;
  width: 400px;
  border-style: solid;
  border-color: #171717;
  border-radius: 40px;
  border-width: 2px;
  padding: 40px;
  display: flex;
  gap: 10px;
  box-shadow: 10px 10px #171717;
}

#rock {
  background-color: #ed3ee6;
}
#paper {
  background-color: #ed783e;
}
#scissors {
  background-color: #3eedd8;
}

.message-board {
  height: 10vh;
  width: 100vw;
  background-color: #aaed3e;
  padding: 1rem;
  border: 1px 0px;
}

.inner-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
